public net.minecraft.entity.LivingEntity field_70703_bu # jumping
public net.minecraft.entity.MobEntity field_70699_by # navigation
# public net.minecraft.entity.MobEntity func_230254_b_(Lnet/minecraft/entity/player/PlayerEntity;Lnet/minecraft/util/Hand;)Lnet/minecraft/util/ActionResultType; # mobInteract
public net.minecraft.entity.Entity field_70180_af # entityData